*{
    margin: 0;
    padding: 0;
}
/* Shared Section */
.container{
    max-width: 1100px;
    margin: 0 auto;
}

body{
    background-color: #1A0B2E;
}
nav img{
    /* text-align: center; */
    padding-top: 8px;
    align-items: center;
    width: 210px;
    height: 40px;
}
nav{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #27163c;
    margin-bottom: 20px;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 70px;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav .btn{
    color: white;
    background: linear-gradient(
    90deg,
    #ff7a18,
    #ff2ddc,
    #6a00ff
  );
  padding: 8px 30px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.btn-room img{
    width: 20px;
    height: 20px;
    padding-top: 10px;
    visibility: hidden;
}
.main-hero{
    margin-bottom: 70px;
}
.hero-content .btn img{
    padding-top: -10px;
}
 .hero-section{
    /* width: 100%; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
.hero-section .second-picture{
    
    width: 350px;  
    height: 350px;
    background-image: url("./assets/hero-circle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;       
    align-items: center;      
    justify-content: center;
}
.second-picture .img{
    width: 90px;
    height: auto;
}

.hero-content{
    max-width: 900px;
    margin: 0 auto;
    margin-top: -150px;
    text-align: center;
}
.hero-content h1{
    color: white;
    font-weight: 900;
    font-size: 4.2rem;
    margin-bottom: 10px;
}
.hero-content p{
    color: #b5b3b3;
    margin-bottom: 20px;
}
.hero-content .btn{
    color: white;
    background: linear-gradient(
    90deg,
    #ff7a18,
    #ff2ddc,
    #6a00ff
  );
  border-radius: 20px;
  padding: 8px 15px;
  border: none;
  margin-right: 10px;
}
    
.hero-content .btn-2{
    padding: 8px 15px;
    border-radius: 20px;
    border: 1px solid green;
    background-color: #27163c;
    color: rgb(118, 194, 118);
    transition: background-position 0.4s ease, transform 0.2s ease;
    cursor: pointer;
}
.btn-2:hover{
    background-position: right center;
    transform: translateY(-10px);
}

.container .about-text-section{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    border-bottom: 1px solid #27163c;
}
.about-text-section h2{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}
.about-text-section p{
    color: rgb(188, 183, 183);
    margin-bottom: 30px;
}
.about-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 70px;
    padding: 10px;
    gap: 20px;
}
.about-cards .card-1{
    /* border: 1px solid yellow; */
    padding: 10px;
    text-align: center;
}
.card-1 h2{
    color: #00FF88;
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.card-1 p{
    color: #b5b3b3;
}

.color-blue{
    background-color: #230E3D;
    
}
.color-blue .choose-section{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.choose-section h1{
    color: white;
    font-size: 3.5rem;
}
.grid-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 180px;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
    padding-bottom: 100px;
}
.common-h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
.common-p{
    color: rgb(192, 188, 188);
}
.grid-items .big-column{
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
    grid-row: span 2;
    border-radius: 15px;
    padding: 100px 20px 0px 20px;
    color: white;
    
}
.grid-items .big-row{
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
    grid-column: span 2;
    border-radius: 15px;
    padding: 20px 20px 10px 20px;
}
.grid-items .average{
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
    grid-column: span 1;
    border-radius: 15px;
    padding-top: 30px;
    padding: 15px 10px;
}

.section-text{
    text-align: center;
    margin-bottom: 25px;
}
.section-text h2{
    color: white;
    font-size: 3.5rem;
}
.youtube-feature{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.feature-box iframe{
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.youtube-feature .feature-box{
   
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
 
}
.feature-box .div,h2, p {
    padding: 10px;
}
.feature-box .div{
    color: #00FF88;
}
.main-feature{
    margin-bottom: 50px;
}

.div-container{
    margin-bottom: 50px;
}

 .last-section{
    padding: 20px;
    border-radius: 25px;
 }
 .host{
    margin-bottom: 100px;
 }
.host h2{
    text-align: center;
    font-size: 3.5rem;
    color: white;
    font-weight: bold;
    margin-bottom: 70px;
}
.photo-section .img{
    width: 40%;
}
.photo-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* gap: -20px; */
}
.social-media{
    width: 740px;
    margin-top: 20px;
}
.social-media h3{
    margin-left: 8px;
}

.social-media img{
   
    /* margin: 10px; */
    border: 1px solid rgb(40, 40, 39);
    border-radius: 50%;
    padding: 10px;
    background-size: cover;
}

footer{
    background-image: url('./assets/footer-bg.png');
    width: 100%;
    height: 450px;
}

footer .footer-section{
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    /* align-items: center; */
    padding-top: 110px;
}
.footer-section .top-img{
    width: 400px;
}
.footer-section .footer-images{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 40px;
    padding-left: 50px;
}
.footer-section p{
    /* font-size: 1.2rem; */
    color: #b5b3b3;
    padding-top: 50px;
}
.footer-images .img-last{
    display: flex;
    /* padding-top: 20px; */
    align-items: center;
    gap: 6px;
}


@media screen and (max-width: 576px) {
  nav {
    justify-content: space-between;
    padding: 10px 15px;
  }

  nav > img {
    width: 150px;
    height: auto;
    padding-top: 0;
  }

  nav ul {
    display: none;
  }

  .btn-room .btn {
    display: none;
  }

  .btn-room img {
    visibility: visible;
    padding-top: 0;
  }

  .btn-room {
    display: flex;
    align-items: center;
  }
  .hero-section{
    height: 60vh;
    background-position: top center;
  }
  .hero-section .second-picture{
    height: 250px;
    width: 250px;
  }
  .hero-section .second-picture img{
    width: 70px;
    height: auto;
  }

  .container .about-text-section{
    padding: 10px;
  }
  .about-cards{
    grid-template-columns: repeat(2,1fr);
  }
 
  .choose-section h1{
    font-size: 2.3rem;
  }
  .grid-items{
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
    width: 100%;
    padding-left: 15px;
  }
  .grid-items .big-row{
    padding:10px;
  }
  .section-text h2,.host h2{
    font-size: 2.5rem;
  }
  .youtube-feature{
    grid-template-columns: repeat(1,1fr);
    margin: 10px;
  }
  .photo-section{
    grid-template-columns: repeat(1,1fr);
    text-align: center;
  }
  .photo-section .img{
    width: 100%;
  }
  .social-media{
    width: 350px;
  }
  .div-container{
    margin: 15px;
  }
  .footer-section .top-img{
    width: 100px;
    padding-top: 20px;
  }

  footer{
    background-image: url('./assets/footer-bg.png');
    width: 100%;
    height: 400px;
    background-size:cover;
    
  }
  .footer-section .footer-images{
    grid-template-columns: repeat(2,1fr);
    width: 120px;
    padding-left: 120px;
    gap: 20px;
  }
  .footer-section p{
    color: #b5b3b3;
    padding-top: 70px;
  }
  .host{
    margin-bottom: 30px;
  }
}