*{
    margin: 0;
    padding: 0;
}
/* .container{

} */

header{
    background-color: #1A0B2E;
}
nav{
    
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #27163c;
    margin-bottom: 20px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;

}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav .btn{
    color: white;
    background: linear-gradient(
    90deg,
    #ff7a18,
    #ff2ddc,
    #6a00ff
  );
  padding: 12px 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
nav .hero-section{
    background-image: url('./assets/hero-bg.png');
    /* width: 100%; */
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}